<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">

<style layout:fragment="style">
    input:focus {
        border-color: blue !important;
    }

    input[type=checkbox] {
        width: 15px;
        display: inline-block;
        accent-color: blue;
    }
    
</style>

<title layout:fragment="title">MultiShop | Login</title>

<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Login</span>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                class="bg-secondary pr-3">Login</span></h2>
        <div class="container  px-xl-5">
            <div class="col-lg mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form action="process-login" method="post">

                        <div th:if="${param.error}">
                            <div th:switch="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
                                <div th:case="'Bad credentials'">
                                    <script>
                                        Swal.fire("Error", "Invalid user details", "error");
                                    </script>
                                </div>
                                <div th:case="'User is disabled'">
                                    User account is not activated
                                </div>
                                <div th:case="*">
                                    <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
                                </div>
                            </div>
                        </div>

                        <div th:if="${param.logout}">
                            <script>
                                Swal.fire("Success", "Successfully logged Out", "success");
                            </script>
                        </div>

                        <div th:if="${session.msg}">
                            <span th:text="${session.msg}"></span>
                            <th:block th:text="${@requestUtils.removeSessionAttribute('msg')}"></th:block>
                        </div>

                        <div class="control-group">
                            <input type="email" class="form-control" name="username" placeholder="Your Email" />
                        </div>
                        <div class="control-group mt-3 mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Your Password" />
                        </div>
                        <div class="px-4 row justify-content-between">
                            <div class="control-group">
                                <input type="checkbox" name="remember-me" id="remember-me" />
                                <label for="remember-me">Remember Me</label>
                            </div>
                            <a href="#">Forgot Password</a>
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn btn-primary py-2 px-4" type="submit">Login</button>
                        </div>
                        <p class="text-center mt-2">Didn't Have an account <a th:href="@{/customer-register}">Create Account</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>