<div th:fragment="Navbar" class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
        <div class="col-lg">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <span class="h1 text-uppercase text-dark bg-light px-2">Rural</span>
                    <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Connect</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a 
                            th:href="@{/}" 
                            class="nav-item nav-link"
                            th:classappend="${@requestUtils.getCurrentUrl() == '/' ? 'active':''}">
                            Home
                        </a>

                        <a 
                            th:href="@{/shop}" 
                            class="nav-item nav-link"
                            th:classappend="${@requestUtils.getCurrentUrl() == '/shop' ? 'active':''}">
                            Shop
                        </a>
                        
                        <a 
                            sec:authorize="hasAuthority('VENDER')"
                            th:href="@{/vender/add-product}" 
                            class="nav-item nav-link"
                            th:classappend="${@requestUtils.getCurrentUrl() == '/vender/add-product' ? 'active':''}">
                            Add Product
                        </a>

                        <a 
                            sec:authorize="hasAuthority('VENDER')"
                            th:href="@{/vender/products}" 
                            class="nav-item nav-link"
                            th:classappend="${@requestUtils.getCurrentUrl() == '/vender/products' ? 'active':''}">
                            Your Products
                        </a>
                        
                        <a 
                            sec:authorize="hasAuthority('VENDER')"
                            th:href="@{/vender/orders}" 
                            class="nav-item nav-link"
                            th:classappend="${@requestUtils.getCurrentUrl() == '/vender/orders' ? 'active':''}">
                            Your Order
                        </a>
                        
                        <a 
                            sec:authorize="hasAuthority('CUSTOMER')"
                            th:href="@{/customer/orders}" 
                            class="nav-item nav-link"
                            th:classappend="${@requestUtils.getCurrentUrl() == '/customer/orders' ? 'active':''}">
                            My Orders
                        </a>

                        <a 
                            th:href="@{/contact}" 
                            class="nav-item nav-link"
                            th:classappend="${@requestUtils.getCurrentUrl() == '/contact' ? 'active':''}">
                            contact
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>