<!DOCTYPE html>
<html>

<head>
    <title>Test</title>
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
</head>

<body>
    <div id="myid">
        Hello, World
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse, ipsum facilis voluptas distinctio eos incidunt saepe excepturi tenetur quo quae qui nulla, eaque nesciunt vel assumenda magnam earum ea?
    </div>
    <script>
        function loadGoogleTranslate()

        {
    
            new google.translate.TranslateElement("myid")
    
        }
    </script>
</body>

</html>